.App {
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row{
  margin-right: 0;
}
a{
   text-decoration: none;
   color: white;
}
a:hover{
  text-decoration: none;
  color: rgb(217, 178, 178);
}
.footer{
  background: #6b4e99e8; 
  color: white;
  text-align: center; 
  height: 50px;

}
.footer p{
    padding: 10px;
}

